{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to query profile information",
    "version" : "v0.1",
    "title" : "Demo",
    "termsOfService" : "-no service-",
    "contact" : {
      "name" : "Unknown",
      "url" : "http://suncorp.com.au",
      "email" : "unknown@unknown.com"
    }
  },
  "host" : "api.vm.suncorp.com.au:8082",
  "basePath" : "/api",
  "tags" : [ {
    "name" : "apiController"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/me" : {
      "get" : {
        "tags" : [ "apiController" ],
        "summary" : "me",
        "description" : "",
        "operationId" : "me",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/UserDetails"
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Failure"
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "api_key" : {
      "type" : "apiKey",
      "name" : "api_key",
      "in" : "header"
    },
    "petstore_auth" : {
      "type" : "oauth2",
      "authorizationUrl" : "http://swagger.io/api/oauth/dialog",
      "flow" : "implicit",
      "scopes" : {
        "write:pets" : "modify pets in your account",
        "read:pets" : "read your pets"
      }
    }
  },
  "definitions" : {
    "GrantedAuthority" : {
      "type" : "object",
      "properties" : {
        "authority" : {
          "type" : "string"
        }
      }
    },
    "UserDetails" : {
      "type" : "object",
      "required" : [ "authorities", "id", "principal", "scopes", "token" ],
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "principal" : {
          "type" : "string"
        },
        "authorities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/GrantedAuthority"
          }
        },
        "scopes" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "type" : "string"
          }
        },
        "token" : {
          "type" : "string"
        }
      }
    }
  }
}